<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all authors</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .authors, .authors td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>
<h1>Authors:</h1>
<a href="/">Return to main page</a>
<BR>
<table class="authors">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">1</td>
        <td th:text="${author.name}">John Doe</td>
        <td>
            <a th:href="@{/author(id=${author.id})}" href="authorEdit.html">Edit</a>
        </td>
        <TD>
            <a th:href="@{/deleteAuthor(id=${author.id})}" href="deleteAuthor">Del</a>
        </TD>
    </tr>
    </tbody>
    <a th:href="@{/newAuthor}" href="authorEdit.html">Add author</a>
</table>
</body>
</html>
